html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: helvetica;
  font-size: 16px;
  background: linear-gradient(180deg, #3D4E9D, #4792D2);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

#root {
  flex: 1;
  background-color: #EEE;
  padding: 1em;
  border-radius: 0.25em;
}

section {
  margin: 0.25em 0;
}

#result {
  width: 100%;
  font-size: 1.25em;
  padding: 1em;
  margin-bottom: 1em;
  border: 1px solid #BBB;
  border-radius: 0.25em;
}

hr {
  border: 1px solid #BBB;
}

.action {
  padding-top: 0.5em;
  text-align: center;
}

button {
  border: none;
  cursor: pointer;
  color: #111;
  border: 1px solid #BBB;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  background: #FFF;
}

button:active {
  background-color: #FAFAFA;
  box-shadow: inset 0 0 2px #000;
}
