html,
body {
  height: 100%;
}

body {
  font-family: helvetica;
  font-size: 1.5em;
  background: linear-gradient(150deg, #F7B555, #E55B5B);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

#root {
  flex: 1;
}

section {
  background-color: #FFF;
  padding: 1em;
  border-radius: 0.25em;
  margin: 0.5em 0;
  box-shadow: inset 0 0 5px #000;
}

#result {
  border: none;
  width: 100%;
}

.action {
  padding-top: 0.5em;
  text-align: center;
}

button {
  border: none;
  cursor: pointer;
  color: #FFF;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  background: linear-gradient(150deg, #57B2F2, #2D4E9D);
}
